<div class="posts-list fade-in">
    <% data.hubs.forEach(function(hub) { %>
        <% if(!hub.draft) { %>
            <article class="post">
                <h1 class="post-title">
                  <a href="<%= hub.permalink %>"><%= hub.title %></a>
                </h1>
                <time class="post-date"><%= hub.date %></time>
                <div class="post-content">
                    <% if(hub.subtitle) { %>
                        <p><%= hub.subtitle %></p>
                    <% } %>
                </div>
            </article>
        <% } %>
    <% }) %>
</div>