<div class="posts-list fade-in">
    <% data.page.forEach(function(item) { %>
        <% if(!item.draft) { %>
            <article class="post">
                <h1 class="post-title">
                  <a href="<%= item.permalink %>"><%= item.title %></a>
                </h1>
                <div class="post-date"><%= item.date %></div>
                <div class="post-content">
                    <% if(item.subtitle) { %>
                        <p><%= item.subtitle %></p>
                    <% } %>
                </div>
            </article>
        <% } %>
    <% }) %>
</div>